Repository primo4586/Turret-learning-project, pull requests merged in 2023-12, with the labels that each got.

#6 Hood branch
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/HoodSubsystem.java
Labels: hood

#7 shooter
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/ShooterSubsystem.java
  vendordeps/Phoenix5.json
Labels: shooter

#5 creating a vision subsystem
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/Vision.java
Labels: vision

#9 Shooter commands
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/shooterCommands/FeederSetSpeed.java
  src/main/java/frc/robot/commands/shooterCommands/ShooterSetSpeed.java
  src/main/java/frc/robot/commands/shooterCommands/ShooterSetSpeedInterpolation.java
  src/main/java/frc/robot/subsystems/ShooterSubsystem.java
Labels: shooter

#8 Hood Commands
  src/main/java/frc/robot/commands/hoodCommands/AngleFromDistanceCommand.java
  src/main/java/frc/robot/commands/hoodCommands/HoodPoseResetCommand.java
  src/main/java/frc/robot/commands/hoodCommands/MoveHoodToCommand.java
  src/main/java/frc/robot/subsystems/HoodSubsystem.java
Labels: hood

#4 Turret
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/turretCommands/ManualTurnForTurret.java
  src/main/java/frc/robot/commands/turretCommands/MoveTurretToDegree.java
  src/main/java/frc/robot/commands/turretCommands/ResetTurret.java
  src/main/java/frc/robot/commands/turretCommands/TrackTargetWithTurret.java
  src/main/java/frc/robot/subsystems/TurretSubsystem.java
Labels: turret
